# ------------------------------
# General
# ------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.env
*.orig       # arquivos de merge conflitante
*.rej        # arquivos de patch rejeitado
*.sublime-workspace

# ------------------------------
# IDEs e editores
# ------------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (descomente se quiser ignorar)
.vscode/

# Atom
.atom/

# Outras ferramentas
.history
.svn/
migrate_working_dir/

# ------------------------------
# Flutter / Dart
# ------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ------------------------------
# Android
# ------------------------------
/android/app/debug
/android/app/profile
/android/app/release
.gradle
local.properties

# ------------------------------
# iOS
# ------------------------------
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# ------------------------------
# Build e artefatos temporários
# ------------------------------
app.*.symbols
app.*.map.json
*.tmp
*.temp

# ------------------------------
# Arquivos de crash / relatórios
# ------------------------------
crashlytics-build.log
firebase-debug.log
